#!/usr/bin/env bash

set -o pipefail

function error {
    local ANSI_COLOR_ERROR="\033[31m"
    local ANSI_RESET="\033[00m"
    echo -e "${ANSI_COLOR_ERROR}ERROR: $@${ANSI_RESET}" >&2
}

# Check that repo has been initialized for the workspace
WORKSPACE_PATH=$(repo --show-toplevel 2>/dev/null)
if [[ $? != 0 ]]; then
    error "repo is not installed."
    error "Use \"elf repo init\" before."
    exit 1
fi

{% include 'elf_logo.sh' %}

WORKSPACE_PATH=$(realpath "$WORKSPACE_PATH")
MANIFEST_PATH=$({{ manifest_script_path }} path)

find "$WORKSPACE_PATH" -maxdepth 1 -type l -exec bash -c \
    '[[ $(realpath "$(readlink {})") = $(realpath ".repo/manifests")/*.xml ]] && rm -f {}' \;

if [[ -e $MANIFEST_PATH ]]; then
    ln --symbolic --force "$MANIFEST_PATH" "$WORKSPACE_PATH/manifest.xml"
fi

# Check that repo has been initialized for the workspace
PROJECT_CNT=$(repo list 2>/dev/null | wc --lines)
if [[ $PROJECT_CNT == 0 ]]; then
    error "Projects are not checkout."
    error "Use \"elf repo sync\" before."
    exit 1
fi

export YOCTO_CONFIG={{ yocto_config or "" }}
export YOCTO_MANIFEST=$(realpath "$MANIFEST_PATH")
export YOCTO_WORKSPACE=$WORKSPACE_PATH

# Retrieves 'oe-init-build-env' path
BUILD_DIR_PATH=${WORKSPACE_PATH}/build/${YOCTO_CONFIG}
OE_INIT_BUILD_ENV_PATH=$(find "$WORKSPACE_PATH" -path */*/poky/oe-init-build-env)
if [[ ! -f $OE_INIT_BUILD_ENV_PATH ]]; then
    error "oe-init-build-env not found in */*/poky !"
    error "Please ensure you added poky to your projects."
    exit 1
fi

# Retrieve TEMPLATECONF path
TEMPLATE_CONF_PATH=($({{ manifest_script_path }} list config[@name=\'$YOCTO_CONFIG\']/template-conf template-conf --tag path --basic-output))
if [[ ${{ '{#TEMPLATE_CONF_PATH[@]}' }} -gt 1 ]]; then
    error "Multiple template-conf tag found with config='$YOCTO_CONFIG': ${TEMPLATE_CONF_PATH[@]}"
    error "Please check your Manifest and/or your config"
    exit 1
elif [[ ${{ '{#TEMPLATE_CONF_PATH[@]}' }} == 1 ]]; then
    if [[ ! -d $TEMPLATE_CONF_PATH ]]; then
        error "template-conf='$TEMPLATE_CONF_PATH' found in Manifest,"
        error "but directory does not exist!"
        exit 1
    fi
    export TEMPLATECONF=$(realpath "$TEMPLATE_CONF_PATH")
fi

# Create build, downloads and sstate-cache directories
set -e

mkdir -p $BUILD_DIR_PATH
DOWNLOADS_DIR=$BUILD_DIR_PATH/downloads
SSTATE_CACHE_DIR=$BUILD_DIR_PATH/sstate-cache
if [[ ! -L $DOWNLOADS_DIR ]] && [[ ! -d $DOWNLOADS_DIR ]]; then
    DL_DIR=$(realpath "$YOCTO_WORKSPACE")/.downloads
    mkdir -p $DL_DIR
    ln --symbolic --force "$(realpath --relative-to="$(dirname $DOWNLOADS_DIR)" $DL_DIR)" "$DOWNLOADS_DIR"
    export DL_DIR=$DL_DIR
fi
if [[ ! -L $SSTATE_CACHE_DIR ]] && [[ ! -d $SSTATE_CACHE_DIR ]]; then
    SSTATE_DIR=$(realpath "$YOCTO_WORKSPACE")/.sstate-cache
    mkdir -p $SSTATE_DIR
    ln --symbolic --force "$(realpath --relative-to="$(dirname $SSTATE_CACHE_DIR)" $SSTATE_DIR)" "$SSTATE_CACHE_DIR"
    export SSTATE_DIR=$SSTATE_DIR
fi

# Init bitbake build environmnent
source "$OE_INIT_BUILD_ENV_PATH" "$BUILD_DIR_PATH"

# Retrieve the additional layers from Manifest and add them to bitbake
{{ manifest_script_path }} list config[@name=\'$YOCTO_CONFIG\']/layer layer --tag path --basic-output \
    | awk "{ print \"$WORKSPACE_PATH/\" \$0 }" | xargs bitbake-layers add-layer

# Add the environmnent variables based on the Manifest
ENV_SETUP_DOCKER_PATH=/tmp/env-setup
{{ manifest_script_path }} list config[@name=\'$YOCTO_CONFIG\']/env-var env-var --basic-output \
    | sed 's/^env-var./export /' > $ENV_SETUP_DOCKER_PATH
source $ENV_SETUP_DOCKER_PATH

# Add project.conf
CONF_PATH=$BUILD_DIR_PATH/conf
PROJECT_CONF_PATH=$CONF_PATH/project.conf
{{ manifest_script_path }} list config[@name=\'$YOCTO_CONFIG\']/project-var project-var --basic-output \
    | sed 's/^project-var.//' > $PROJECT_CONF_PATH

# Include project.conf
LOCAL_CONF_PATH=$CONF_PATH/local.conf
INCLUDE_PROJECT_CONF="include $(basename "$PROJECT_CONF_PATH")"
grep "$INCLUDE_PROJECT_CONF" "$LOCAL_CONF_PATH" >/dev/null || echo -e "\n$INCLUDE_PROJECT_CONF" >> "$LOCAL_CONF_PATH"

{% if verbose -%}
echo "> $@"
{% endif -%}
exec "$@"
